// color variables
$mainColor: #225378;
$mainDark: darken($mainColor, 10%);
$secondColor: #1695A3;
$backColor: #DCE1E5;
$linkColor: #EB7F00;

// margin and padding variables
$mainMargin: 1rem;
$mainPadding: 1rem;

// Shadow
@mixin box-shadow($color) {
  box-shadow: 0 0 30px darken($color, 10%);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
}

.app {
  background-color: $backColor;
  color: $mainColor;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.primary-btn, button {
  background-color: $secondColor;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: fade-out($secondColor, .25);
}

header {
  @include box-shadow($mainColor);
  background: $mainColor;
  color: $backColor;
  padding: $mainPadding;
  text-align: center;
  z-index: 10;

  a {
    text-decoration: none;
    color: $backColor;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  padding: $mainPadding;
  position: relative;
}

.login-form {
  background-color: white;
  padding: $mainPadding;
  @include box-shadow($backColor);
  border-radius: 10px;
  margin-bottom: 15px;

  h1 {
    margin-top: 0;
    margin-bottom: $mainMargin * 2;
  }

  input {
    background: white;
    border-radius: 5px;
    border: solid 1px $mainColor;
    padding: 5px;
    position: absolute;
    right: 0;
    top: -4px;
    width: 70%;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  button {
    width: 100%;
    margin-top: $mainMargin;
  }
}

.input-row {
  height: 24px;
  margin-top: $mainMargin;
  position: relative;
}

.feedback {
  color: $linkColor;
  font-weight: 600;
  padding-top: $mainPadding;
}

footer {
  width: 100%;
  background-color: $secondColor;
  @include box-shadow($secondColor);
  z-index: 10;

  a {
    color: $backColor;
  }
}

.modal-back {
  background-color: fade-out($mainColor, .25);
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.5);
  padding: 5px;
  z-index: 100;
}

.modal {
  background-color: white;
  border-radius: 10px;
  padding: $mainPadding;
  margin-bottom: 15px;
  max-width: 500px;
  max-height: 600px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  transform: scale(1.25);
  opacity: 0;
  z-index: 200;
  @include box-shadow($mainColor);
}

.x-btn {
  position: absolute;
  right: 15px;
}
.close-btn {
  display: block;
  margin: 0 auto;
}

.modal-body {
  margin-top: 30px;
  margin-bottom: 20px;
  max-height: 550px;
  // overflow-y: scroll;
}

.modal-open .modal-back {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.modal-open .modal {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.modal-open .app {
  -webkit-filter: blur(5px);
  -webkit-transform: scale(0.9);
}

.app, .modal-back, .modal {
  transition: all 0.25s ease;
}

.spinner-wrapper {
  background-color: fade-out($backColor, .25);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.spinner {
  text-align: center;
}

.spinner > div {
  background-color: $linkColor;
  border-radius: 100%;
  display: inline-block;
  height: 18px;
  width: 18px;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// regular phone layout
@media only screen and (max-width: 414px) {
  .app {
    font-size: .85em
  }
  .help-center {
    a {
      display: block;
      padding-bottom: 5px;
    }
  }
  .modal-body {
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 400px;
  }
}

// landscape phone layout
@media only screen and (max-height: 414px) and (orientation: landscape) {
    .main-content {
      display: block;
    }
}
